/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 @font-face {
    font-family: 'akkuratregular';
    src: url('../fonts/akkurat_regular-webfont.eot');
    src: url('../fonts/akkurat_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akkurat_regular-webfont.woff2') format('woff2'),
         url('../fonts/akkurat_regular-webfont.woff') format('woff'),
         url('../fonts/akkurat_regular-webfont.ttf') format('truetype'),
         url('../fonts/akkurat_regular-webfont.svg#akkuratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akkuratbold';
    src: url('../fonts/akkurat_bold-webfont.eot');
    src: url('../fonts/akkurat_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akkurat_bold-webfont.woff2') format('woff2'),
         url('../fonts/akkurat_bold-webfont.woff') format('woff'),
         url('../fonts/akkurat_bold-webfont.ttf') format('truetype'),
         url('../fonts/akkurat_bold-webfont.svg#akkuratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

* {
    font-family: akkuratregular;
    color: #555;
}

@import url(https://fonts.googleapis.com/css?family=Dosis:400,500);

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-content {
    padding: 0px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: -22px;
    font-size: 0.9em;
    box-shadow: 0px 0px 5px #ddd;
    background-color: #fff;
    margin-bottom: 50px;
}

.accordion-container {
    /*padding: 0px 20px;*/
}


.yellow-green {
    color: #E0F13E;
}

.orange {
    color: #FF4C14;
}

.pink {
    color: #FD2D52;
}

.light-blue {
    color: #E3FFFF;
}

h1.pageTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 4.5em;
    margin: 5px;
    color: #E3FFFF;
}

.accordion-container h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2.5em;
    color: #FD2D52;
    padding-left: 20px;
    margin: 0.5em 0em;
}

li {
    margin: 8px 0px;
}

.section-title {
    background-color: #fff;

}

.pageHeadingText {
    padding: 100px 20px 70px 20px;
}

ol {
    padding-left: 30px;
}

.accordion div.pull-left {
    padding-left: 85px;
    position: relative;
}

.icon {
    position: absolute;
    left: 35px;
    width: 30px;
    top: 25px;
}

.subHeading {
    background-color: rgba(40, 40, 40, 0.87);
    font-size: 1em;
    color: #fff;
    display: inline;
    margin: 5px;
    padding: 5px 10px;
}

header {
    background-image: url('../img/healthstarter.jpg');
    background-size: 120% auto;
        background-position: 100% 70%;

    /*min-height: 200px;*/
    position: relative;

}

.accordion.open {
    border-bottom: 3px solid #eee;
    padding-bottom: 20px;
}

.warning ul {
    color: #fff;
}

.link-container {
    margin: 1px;
}

.button-link {
    border-radius: 5px;
    border: 2px solid #FD2D52;
    color: #FD2D52;
    padding: 10px 10px;
    margin: 10px auto;
    text-align: center;

}

.warning {
    background-color: #FD2D52;
    color: #fff;
}

.warning > * {
    color: #fff
}

.site-desc {
    background-color: #fff;
    color: #4A4A4A;
    width: 100%;
    margin: 0px;
    padding: 2px 0px;
    border-bottom: 2px solid #f3f3f3;
}

.site-desc p {
    padding-left: 20px;
}

.progressBar {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 20px;
}

p.progresstext {
    color: #888;
    margin: 0px;
    position: relative;
    top: -20px;
    height: 0px
}

.progress {
    width: 1%;
    background-color: #FD2D52;
    height: 20px;
}


h1 {
    font-size: 1.5em;
}


body {
    background-image: url('../img/agsquare.png');
}

/*h2 {
    color: #FF4C14;
    font-family: 'Dosis';
}
*/

h2 {
    margin: 0.5em;
}

div [data-content] > *  {
    padding: 10px 20px;
}

.accordion.open [data-control] {
    background-color: #E3FFFF;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

em {
    font-style: normal;
    font-family: akkuratbold
}

.accordion.open h2 {
    color: #FD2D52;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

.quiz-CTA {
    background-color: pink;
    padding: 30px 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 50px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
