{% extends 'quiz/base.html' %}

{% load staticfiles %}

{% block head %}
 <link rel="stylesheet" type="text/css" href="{% static 'quiz/quiz.css' %}"/>
{% endblock %}

{% block content %}

<div class="site-desc-quiz">
                    <p>{{ question.question_text }}</p>
                </div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}