{% extends 'quiz/base.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){
            $('#fronttable').DataTable();
        });
    </script>
{% endblock %}

{% block content %}

   <table id="fronttable" class="table">
      <thead><tr> <th> Question name</th></tr></thead>
      <tbody>
    {% for question in latest_question_list %}
      	<tr>
            <td>
                <a href="/quiz/{{ question.id }}/">{{ question.question_text }}</a>
        </td>
      	</tr>
          {% endfor %}
      </tbody>
      </table>
{% endblock %}